doctype html
html
  head
    title Home Page
    link(rel="stylesheet", href="style.css")
  body
    h1 Welcome to the Home Page
    ul
      li
        a(href="/users") Users
      li
        a(href="/articles") Articles
